.nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 102, 0);
    justify-content: space-between;
    margin: 0px 100px;
}

.nav img{
    width: 15%;
    height: 15%;
}

.lien{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.lien a{
    text-decoration: none;
    color: black;
}