@import url('reset.css');

.nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 102, 0);
    justify-content: space-between;
    margin: 0px 100px;
}

.nav img{
    padding: 0px;
    margin: 0px;
    width: 200px;
}

#id{
    background-color: rgb(68, 0, 255);
}

.lien{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.lien a{
    text-decoration: none;
    color: black;
}