{% extends 'listings/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patounes & Co</title>
</head>
<body> 
    {%block content%}
    <div class="container">
      {% for item in data %}
      <div class="profil">
        <img id="photo_animal" src="{% static 'images/chat.jpg' %}" alt="" role="presentation">
        <p>{{ item.nom }}</p>
        <p>{{ item.age }}</p>
        <p>{{ item.lieu }}</p>
        <p>{{ item.favorit }}</p>
        <a href="">Voir le profil</a>
      </div>
      {% endfor %}
    </div>
    {%endblock%}
</body>
</html>