{% extends 'listings/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />    
    <title>Patounes & Co</title>
</head>
<body>
    {%block content%}
    <div class="midle">
        <div class="slogan">
            <p>TROUVER L'ANIMAL</p>
            <p>QUI VOUS CORRESPONDRA</p> 
            <p>LE MIEUX !</p>
        </div>
        <div class="searchBar">
            <input type="text" placeholder="recherche">
            <button type="submit" id="submit">Rechercher</button>
            <ul id="filtre">
                <li class="filtre">
                    <a href="#">Catégorie</a>
                    <ul class="sub-menu">
                        <!--Boucle sur toute les catégorie d'annimaux en base-->
                        <li>âne</li>
                        <li>Chient</li>
                        <li>Chat</li>
                        <li>Cochon</li>
                    </ul>
                </li>
                <li class="filtre">
                    <a href="#">Tailles</a>
                    <ul class="sub-menu">
                        <!--Boucle sur toute les tailles d'annimaux en base-->
                        <li>Petit</li>
                        <li>Moyen</li>
                        <li>Grand</li>
                    </ul>
                </li>
                <li class="filtre">
                    <a href="#">Villes ou CP</a>
                    <ul class="sub-menu">
                        <!--Boucle sur toute les villes ou CP en base-->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="information">
        <div class="info">
            <span class="material-symbols-rounded">lock</span><p>Sécurité</p>
        </div>
        <div class="info">
            <span class="material-symbols-rounded">favorite</span><p>Protection animal</p>
        </div>
        <div class="info">
            <span class="material-symbols-rounded">pets</span><p>Association pour le bien ête animal</p>
        </div>
    </div>
    {%endblock%}
    </body>
</html>