{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'listings/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <a href="http://127.0.0.1:8000" id="test"><img src="{% static 'images/Logo.png'%}" alt="Logo Patounes & Co"></a>
        <div class="lien">
            <a href='http://127.0.0.1:8000/adopte/'>J'adopte</a>
            <a href="http://127.0.0.1:8000/actualite/">Actualités</a>
            <a href="http://127.0.0.1:8000/a propos/">A propos</a>
            <span class="material-symbols-rounded">account_circle</span>
        </div>
    </nav>
    {%block content%}
    {%endblock%}
</body>
</html>